<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Mercadoliebre</title>
</head>

<body>
    <header>
        <div class="caja_superior">
            <div class="contenedor_logo_searchbar">
                <img src="/images/logo-mercado-liebre.svg" alt="Logo de la pagina" class="logo">
                <div class="searchbar">
                    <input type="text" placeholder="Buscar productos, marcas">
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
            </div>
            <p><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <div class="caja_barras">
            <ul class="navbar_items">
                <li>Ofertas</li>
                <li>Tiendas Oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
            </ul>
            <ul class="loginbar_items">
                <li><a href="/register">Creá tu cuenta <i class="fa-solid fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
                <li>Mis Compras <i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </div>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main>
        <form action="login.html" class="contenedor_formulario">
            <input type="text" placeholder="Nombre de Usuario">
            <input type="password" placeholder="Elegi tu contrasena">
            <button type="submit">Enviar</button>
        </form>
    </main>
    <footer>
        <article>
            <i class="fa-solid fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
                seguro!</p>
        </article>
        <article>
            <i class="fa-solid fa-gift"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
                Mercado Puntos.</p>
        </article>
        <article>
            <i class="fa-solid fa-user-shield"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                protegid@.
            </p>
        </article>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>

</html>