:root {
    --amarillo: #EAC926;
    --azul: #03264C;
    --celeste: #1259c3;
    --gris_oscuro: #666;
    --gris_claro: #ebebeb;
    --verde: #39b54a;
}
.contenedor_formulario{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 25px;
    margin: auto;
}

.contenedor_formulario input, button{
    padding: 5px;
    margin: 5px;
}

.contenedor_formulario button{
    background-color: var(--celeste);
    border-radius: 5px;
    color: white;
}