* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --amarillo: #EAC926;
    --azul: #03264C;
    --celeste: #1259c3;
    --gris_oscuro: #666;
    --gris_claro: #ebebeb;
    --verde: #39b54a;
}


main {
    background-color: var(--gris_claro);
    margin: auto;
    width: 90%;
}

body {
    background-color: var(--gris_claro);
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

header {
    background-color: var(--amarillo);
}

.titular {
    font-size: 24px;
}

.burger-menu {
    margin: auto;
    border: dotted 2px var(--celeste);
    width: 32px;
    text-align: center;
    color: white;
    background-color: var(--celeste);
    padding: 6px;
    border-radius: 5px;
}

.logo {
    width: 50%;
}

.searchbar {
    width: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.caja_superior {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

footer {
    background-color: white;
}

footer article {
    text-align: center;
}

footer article i {
    text-align: center;
    color: var(--celeste);
    font-size: 2em;
    margin-bottom: 10px;
}

.navbar_items {
    list-style-type: none;
}

.navbar_items li {
    padding: 25px;
}

.loginbar_items {
    list-style-type: none;
}

.loginbar_items li {
    padding: 15px;
}

.navbar_items,
.loginbar_items {
    display: none;
}

.contenedor_logo_searchbar{
    display: flex;
}

@media (min-width: 768px) {

    .navbar,
    .loginbar {
        display: block;
    }

    .burger-menu {
        display: none;
    }

    .caja_superior {
        flex-wrap: nowrap;
    }

    .caja_barras {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar_items {
        display: flex;
        justify-content: space-between;
    }

    .loginbar_items {
        display: flex;
    }
}

@media (min-width: 1024px) {}