<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercadoliebre</title>
</head>
<body>
    <header>
        <img src="/images/logo-mercado-liebre.svg" alt="Logo de la pagina">
        <p>Lugar para poner la barra de búsqueda</p>
        <p>Comprá en cuotas y sin tarjeta de crédito</p>
        <ul>
            <li>Ofertas</li>
            <li>Tiendas Oficiales</li>
            <li>Vender</li>
            <li>Ayuda</li>
        </ul>
        <ul>
            <li>Creá tu cuenta</li>
            <li>Ingresá</li>
            <li>Mis Compras</li>
        </ul>
    </header>
    <main>
        <h1>Basado en tu última visita</h1>
        <img src="/images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera">
        <p>$6.770</p>
        <p>40% off</p>
        <h2>Cafetera Moulinex</h2>
        <img src="/images/img-macbook-pro-2019.jpg" alt="imagen de MacBook">
        <p>$230.000</p>
        <p>20% off</p>
        <h2>MacBook Pro 2019</h2>
        <img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen Samsung">
        <p>$70.500</p>
        <p>10% off</p>
        <h2>Samsung Galaxy S10</h2>
        <img src="/images/img-tv-samsung-smart.jpg" alt="imagen SmarTv">
        <p>$23.200</p>
        <p>5% off</p>
        <h2>SmartTv Samsung 43"</h2>
    </main>
    <footer>
        <h1>Pagá con tarjeta o en efectivo</h1>
        <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        <h1>Envío gratis desde $ 2.500</h1>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        <h1>Seguridad, de principio a fin</h1>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>